<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
    <aop:aspectj-autoproxy/>

    <!--Bean to load properties file -->
    <bean id="placeholderConfig" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="classpath:file.properties"/>
    </bean>

    <bean id="myTeacher"
          class="com.devmind.springapp.JavaTeacher">
        <constructor-arg index="0" ref="myWisdomService" />
        <constructor-arg index="1" ref="myHomeworkService" />
        <property name="age" value="${java.teacher.age}" />
        <property name="workPlace" value="${great.place.to.work}" />
    </bean>
    <bean id="myWisdomService"
          class="com.devmind.springapp.WisdomWordsService">
    </bean>
    <bean id="myHomeworkService"
          class="com.devmind.springapp.HomeworkService">
    </bean>
    <bean id="myMathTeacher"
          class="com.devmind.springapp.MathTeacher">
        <property name="wisdomService" ref="myWisdomService" />
    </bean>

</beans>